@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud Computing Project</h1>
    <h1 class="display-4">Publish Web App by ( VScode )</h1>
</div>
